body{
  margin:0;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  background: #f1f1f1;
  color:#333;
}
ol,ul ,li{list-style:none;margin:0;padding: 0;}
.clearfix:after{display:block;clear:both;content:"";}

.breadcrumb{
  margin:20px 0;
}
p{
  text-align: justify;
  text-indent: 30px;
  margin:0;
}
a{
  text-decoration: none;
  color: #555;
  cursor: pointer;
}
a:hover{
  color: #1D8CE0;
}
